name: Lint and Tests

on: [push]

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python and UV
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.14"
      - name: Run Python Linter
        run: uv run ruff check .
      - name: Run Python tests
        run: uv run pytest
